<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Account</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }

    </style>
</head>

<body>
    <div class="sidenav">
        <a href="/account/" class="current">Account</a>
        <a href="/course/">Courses</a>
        <a href="/contacts/">Contacts</a>
    </div>

    <div class="main">
        <section>
            <h2>Account</h2>
            <div class="container accountInfo">
                {% for i in accounts %}
                    {% if i.email == request.session.name %}
                        <form action="/account/" method="post"> {% csrf_token %}
                            <label class="accLabel" for="fName">First Name: </label>
                            <input class="form-field noBord" type="text" value="{{ i.first_name }}" placeholder="First Name" name="first_name" id="fName" readonly>

                            <label class="accLabel" for="lName">Last Name: </label>
                            <input class="form-field noBord" type="text" value="{{ i.last_name }}" placeholder="Last Name" name="last_name" id="lName" readonly>

                            <label class="accLabel" for="email">Email: </label>
                            <input class="form-field noBord" type="text" value="{{ i.email }}" placeholder="Email" name="email" id="email" readonly>

                            <label class="accLabel" for="pass">Password: </label>
                            <input class="form-field noBord" type="password" value="{{ i.password }}" placeholder="Password" name="password" id="pass" readonly>

                            <label class="accLabel" for="addy">Address: </label>
                            <input class="form-field" type="text" value="{{ i.address }}" placeholder="Address" name="address" id="addy" required>

                            <label class="accLabel" for="pNum">Phone Number: </label>
                            <input class="form-field" type="text" value="{{ i.phone_number }}" placeholder="Phone Number" name="phone_number" id="pNum" required>

                            <label class="accLabel" for="fName">Role: </label>
                            <select class="form-field selector" name="role" >
                                {% if i.role == "supervisor" %}
                                    <option value="supervisor" selected>Supervisor</option>
                                    <option value="instructor" disabled>Instructor</option>
                                    <option value="ta" disabled>Teaching Assistant</option>
                                {% elif i.role == "instructor" %}
                                    <option value="supervisor" disabled>Supervisor</option>
                                    <option value="instructor" selected>Instructor</option>
                                    <option value="ta" disabled>Teaching Assistant</option>
                                {% else %}
                                    <option value="supervisor" disabled>Supervisor</option>
                                    <option value="instructor" disabled>Instructor</option>
                                    <option value="ta" selected>Teaching Assistant</option>
                                {% endif %}
                            </select>
                            <select class="form-field hidden" name="user">
                                <option value="{{ i.id }}" name="user"></option>
                            </select>
                            <button type="submit" name="create_butt" class="subButt">Save</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>