<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Account</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }

    </style>
</head>

<body>
    <div class="sidenav">
        <a href="/account/" class="current">Account</a>
        <a href="/course/">Courses</a>
        <a href="/contacts/">Contacts</a>
        <a href="/">Log out</a>
    </div>

    <div class="main">
        <section>
            <h2>Account</h2>
            <div class="container accountInfo">
                {% for i in accounts %}
                    {% if i.email == request.session.name %}
                        <form action="/account/" method="post"> {% csrf_token %}
                            <h1 class="accLabel">First Name: </h1>
                            <input class="form-field noBord" type="text" value="{{ i.first_name }}" placeholder="First Name" name="first_name" readonly>

                            <h1 class="accLabel">Last Name: </h1>
                            <input class="form-field noBord" type="text" value="{{ i.last_name }}" placeholder="Last Name" name="last_name" readonly>

                            <h1 class="accLabel">Email: </h1>
                            <input class="form-field noBord" type="text" value="{{ i.email }}" placeholder="Email" name="email" readonly>

                            <h1 class="accLabel">Password: </h1>
                            <input class="form-field noBord" type="password" value="{{ i.password }}" placeholder="Password" name="password" readonly>

                            <h1 class="accLabel">Address: </h1>
                            <input class="form-field" type="text" value="{{ i.address }}" placeholder="Address" name="address" required>

                            <h1 class="accLabel">Phone Number: </h1>
                            <input class="form-field" type="text" value="{{ i.phone_number }}" placeholder="Phone Number" name="phone_number" required>

                            <h1 class="accLabel">Role: </h1>
                            <select class="form-field selector" name="role" >
                                {% if i.role == "supervisor" %}
                                    <option value="supervisor" selected>Supervisor</option>
                                    <option value="instructor" disabled>Instructor</option>
                                    <option value="ta" disabled>Teaching Assistant</option>
                                {% elif i.role == "instructor" %}
                                    <option value="supervisor" disabled>Supervisor</option>
                                    <option value="instructor" selected>Instructor</option>
                                    <option value="ta" disabled>Teaching Assistant</option>
                                {% else %}
                                    <option value="supervisor" disabled>Supervisor</option>
                                    <option value="instructor" disabled>Instructor</option>
                                    <option value="ta" selected>Teaching Assistant</option>
                                {% endif %}
                            </select>
                            <select class="form-field hidden" name="course_selection">
                                <option value="{{ i.id }}" name="user"></option>
                            </select>
                            <button type="submit" name="create_butt" class="subButt">Save</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>

            {% if request.session.error and request.session.submitted %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% elif not request.session.error and request.session.submitted %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endif %}
        </section>
    </div>
</body>
</html>