<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Account</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }

    </style>
</head>

<body>
    <div class="sidenav">
        <a href="/account/" class="current">Account</a>
        <a href="/course/">Courses</a>
        <a href="/contacts/">Contacts</a>
    </div>

    <div class="main">
        <section>
            <h2>Account</h2>
        </section>
    </div>
</body>
</html>