<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - contacts</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>


    <!-- Side Bar-->
    <div class="sidenav">
        <a href="/account/">Account</a>
        <a href="/course/">Courses</a>
        <a href="/contacts/" class="current">Contacts</a>
        <a href="/">Log out</a>
    </div>


    <!-- Main Page -->
    <div class="main">
        <section>
            <!-- Top bar info/buttons -->
            {% if request.session.supervisor %}
                <button class="modButt" id="myBtn">Create new account</button>
            {% endif %}
            <h2>Contacts</h2>


            <!-- The Create Account Modal -->
            {% if request.session.supervisor %}
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">×</span>
                    <form action="/contacts/" method="post"> {% csrf_token %}
                        <input class="form-field" type="text" placeholder="First Name" name="first_name" required>
                        <input class="form-field" type="text" placeholder="Last Name" name="last_name" required>
                        <input class="form-field" type="text" placeholder="Email" name="email" required>
                        <input class="form-field" type="text" placeholder="Password" name="password" required>
                        <input class="form-field" type="text" placeholder="Address" name="address" required>
                        <input class="form-field" type="text" placeholder="Phone Number" name="phone_number" required>
                        <select class="form-field" name="role">
                            <option value="supervisor">Supervisor</option>
                            <option value="instructor">Instructor</option>
                            <option value="ta">Teaching Assistant</option>
                        </select>
                        <button type="submit" name="create_butt" class="subButt">Save</button>
                    </form>
                </div>
            </div>
            {% endif %}


            <!-- User Account Blocks -->
            {% for i in accounts %}
                <div class="contactInfo">
                    <!-- Public account info -->
                    <h1>{{ i.first_name }} {{ i.last_name }}</h1>
                    <h1 class="conText">Email - {{ i.email }}</h1>
                    <h1 class="conText">Phone number - {{ i.phone_number }}</h1>
                    <!-- Private account info -->
                    {% if request.session.supervisor %}
                        <div class="hidContactInfo">
                            <h1 class="conText">Address - {{ i.address }}</h1>
                            <h1 class="conText">Password - {{ i.password }}</h1>
                            <h1 class="conText">Role - {{ i.role }}</h1>
                        </div>
                    {% endif %}


                    <!-- Existing Account Buttons -->
                    {% if request.session.supervisor %}
                        <div id="contactButts">
                            <button class="modButt editButt" id="myBtn">Edit account</button>
                            <button class="modButt editButt delButt">Delete account</button>
                        </div>
                    {% endif %}
                </div>


                <!-- Existing Account Modals -->
                {% if request.session.supervisor %}
                    <!-- The Edit Account Modal -->
                    <div id="myModal2" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/contacts/" method="post"> {% csrf_token %}
                                <!-- First Name Field -->
                                <input class="form-field" type="text" value="{{ i.first_name }}" placeholder="First Name"
                                       name="first_name" required>
                                <!-- Last Name Field -->
                                <input class="form-field" type="text" value="{{ i.last_name }}" placeholder="Last Name"
                                       name="last_name" required>
                                <!-- Email Field -->
                                <input class="form-field" type="text" value="{{ i.email }}" placeholder="Email"
                                       name="email" required>
                                <!-- Password Field -->
                                <input class="form-field" type="text" value="{{ i.password }}" placeholder="Password"
                                       name="password" required>
                                <!-- Address Field -->
                                <input class="form-field" type="text" value="{{ i.address }}" placeholder="Address"
                                       name="address" required>
                                <!-- Phone Number Field -->
                                <input class="form-field" type="text" value="{{ i.phone_number }}" placeholder="Phone Number"
                                       name="phone_number" required>
                                <!-- Role Selector -->
                                <select class="form-field" name="role">
                                    <!-- Preselected supervisor -->
                                    {% if i.role == "supervisor" %}
                                        <option value="supervisor" selected>Supervisor</option>
                                        <option value="instructor">Instructor</option>
                                        <option value="ta">Teaching Assistant</option>
                                    <!-- Preselected instructor -->
                                    {% elif i.role == "instructor" %}
                                        <option value="supervisor">Supervisor</option>
                                        <option value="instructor" selected>Instructor</option>
                                        <option value="ta">Teaching Assistant</option>
                                    <!-- Preselected TA -->
                                    {% else %}
                                        <option value="supervisor">Supervisor</option>
                                        <option value="instructor">Instructor</option>
                                        <option value="ta" selected>Teaching Assistant</option>
                                    {% endif %}
                                </select>
                                <!-- Submit button -->
                                <select class="form-field hidden" name="user">
                                    <option value="{{ i.id }}" name="user"></option>
                                </select>
                                <button type="submit" name="edit_butt" class="subButt">Save</button>
                            </form>
                        </div>
                    </div>



                    <!-- The Delete Account Modal -->
                    <div id="myModal4" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/contacts/" method="post"> {% csrf_token %}
                                <h1>Are you sure you wish to delete {{ i.first_name }} {{ i.last_name }}?</h1>
                                <!-- Pass in current block user id -->
                                <select class="form-field hidden" name="Contact_to_remove">
                                    <option value={{ i.id }}></option>
                                </select>
                                <!-- Submit button -->
                                <button type="submit" name="delContactButt" class="subButt delButt">Yes</button>
                            </form>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}


            <!-- Alert message popups -->
            {% if request.session.error and request.session.submitted %}
            <!-- Success message popup -->
                <div class="alert">
                    <span class="closebtn" style="block" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% elif not request.session.error and request.session.submitted %}
            <!-- Failure message popup -->
                <div class="alert success">
                    <span class="closebtn" style="block" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endif %}

        </section>
    </div>

<script>
// Get each modal and close button
var butt = document.getElementsByClassName("modButt");
var buttArray = Array.from(butt).entries();
var modals = document.getElementsByClassName("modal");
var closeButts = document.getElementsByClassName("close");
var subButts = document.getElementsByClassName("subButt");
var l = modals.length;

for (let i = 0; i < l; ++i) {
    //Make the modals open when the button is clicked
    butt[i].onclick = function() {
        modals[i].style.display = "block";
    }

    //Make the modals close when the close button is clicked
    closeButts[i].onclick = function() {
        modals[i].style.display = "none";
    }

    //Make the modals close when the submit button is clicked
    subButts[i].onclick = function() {
        modals[i].style.display = "none";
    }
}

//Make the modals close when clicked off of
window.onclick = function(event) {
    for (let i = 0; i < l; ++i) {
        if (event.target == modals[i]) {
            modals[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>