<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Courses</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }

    </style>
</head>
<body>
    <div class="sidenav">
        <a href="/account/">Account</a>
        <a href="/course/" class="current">Courses</a>
        <a href="/contacts/">Contacts</a>
        <a href="/">Log out</a>
    </div>

    <div class="main">
        <section>
            <!-- Elements used for triggering modals to open -->
            {% if request.session.supervisor %}
                <button class="modButt" id="myBtn">Create new course</button>
            {% endif %}
            <h2>Courses</h2>


            {% if request.session.supervisor %}
            <!-- The First Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form action="/course/" method="post"> {% csrf_token %}
                        <input class="form-field" type="text" placeholder="Course Name" name="name" required>
                        <input class="form-field" type="text" placeholder="Course Number" name="number" required>
                        <button type="submit" name="course_button" class="subButt">Save</button>
                    </form>
                </div>
            </div>
            {% endif %}

            {% for i in courses %}
                <div class="courseBlock">
                    <h1 class="courseName">{{ i.name }} {{ i.number }}</h1>
                    {% if request.session.supervisor %}
                        <div class="assButt">
                            <button class="modButt courseButt secButt">Create new section</button>
                            <button class="modButt courseButt">Assign to course</button>
                            <button class="modButt courseButt delButt">Delete course</button>
                        </div>
                    {% endif %}
                </div>

                {% if request.session.supervisor %}
                    <!-- The Create Section Modal -->
                    <div id="myModal2" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/course/" method="post"> {% csrf_token %}
                                <select class="form-field hidden" name="course_selection">
                                        <option value="{{ i.id }}">{{ i.number }}</option>
                                </select>
                                <input class="form-field" type="text" placeholder="Section Number" name="section_number"
                                       required>
                                <button type="submit" name="section_button" class="subButt">Save</button>
                            </form>
                        </div>
                    </div>

                    <!-- The Course Assign Modal -->
                    <div id="myModal3" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/course/" method="post"> {% csrf_token %}
                                <select class="form-field hidden" name="course_selection">
                                    <option value={{ i.id }}>{{ i.number }}</option>
                                </select>
                                <select class="form-field" name="person_selection">
                                    {% for i in accounts %}
                                        <option value={{ i.id }}>{{ i.email }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" name="ass_butt" class="subButt">Save</button>
                            </form>
                        </div>
                    </div>

                    <!-- The Course Assign Modal -->
                    <div id="myModal4" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">×</span>
                            <form action="/course/" method="post"> {% csrf_token %}
                                <h1>Are you sure you wish to delete {{ i.name }} {{ i.number }}?</h1>
                                <select class="form-field hidden" name="course_to_remove">
                                    <option value={{ i.id }}>{{ i.number }}</option>
                                </select>
                                <button type="submit" name="delCButt" class="subButt delButt">Yes</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% for j in sections %}
                    {% if j.course == i %}
                        <div class="sectionBlock">
                            <h1 class="sectionName">Section: {{ j.number }}</h1>
                            <h1 class="sectionLead">Instructor: {{ j.teacher.first_name }} {{ j.teacher.last_name }}</h1>

                            {% if request.session.supervisor %}

                                <div class="secButt">
                                    <button class="modButt sectButt">Assign to section</button>
                                    <button class="modButt sectButt delButt">Delete section</button>
                                </div>
                            {% endif %}

                            <!-- The Course Assign Modal -->
                            <div id="myModal3" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">×</span>
                                    <form action="/course/" method="post"> {% csrf_token %}
                                        <select class="form-field hidden" name="section_selection">
                                            <option value={{ j.id }}>{{ j.number }}</option>
                                        </select>
                                        <select class="form-field" name="person_selection">
                                            {% for k in i.people.all %}
                                                <option value={{ k.id }}>{{ k.email }}{% if k.role == 'ta' %}; <b>Skills: {% for s in k.skills.all %}{{ s.name }}, </b>{% endfor %}{% endif %}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" name="ass_section_butt" class="subButt">Save</button>
                                    </form>
                                </div>
                            </div>

                            <!-- The Course Assign Modal -->
                            <div id="myModal4" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">×</span>
                                    <form action="/course/" method="post"> {% csrf_token %}
                                        <h1>Are you sure you wish to delete {{ i.name }} {{ i.number }} Section {{ j.number }}?</h1>
                                        <select class="form-field hidden" name="section_to_remove">
                                            <option value={{ j.id }}></option>
                                        </select>
                                        <button type="submit" name="delSButt" class="subButt delButt">Yes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if request.session.error and request.session.submitted %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% elif not request.session.error and request.session.submitted %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endif %}
        </section>
    </div>

<script>
// Get each modal and close button
var butt = document.getElementsByClassName("modButt");
var buttArray = Array.from(butt).entries();
var modals = document.getElementsByClassName("modal");
var closeButts = document.getElementsByClassName("close");
var subButts = document.getElementsByClassName("subButt");
var l = modals.length;

for (let i = 0; i < l; ++i) {
    //Make the modals open when the button is clicked
    butt[i].onclick = function() {
        modals[i].style.display = "block";
    }

    //Make the modals close when the close button is clicked
    closeButts[i].onclick = function() {
        modals[i].style.display = "none";
    }

    //Make the modals close when the submit button is clicked
    subButts[i].onclick = function() {
        modals[i].style.display = "none";
    }
}

//Make the modals close when clicked off of
window.onclick = function(event) {
    for (let i = 0; i < l; ++i) {
        if (event.target == modals[i]) {
            modals[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>