<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Courses</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }

    </style>
</head>
<body>
    <div class="sidenav">
        <a href="/account/">Account</a>
        <a href="/course/" class="current">Courses</a>
        <a href="/contacts/">Contacts</a>
    </div>

    <div class="main">
        <section>
            <!-- Elements used for triggering modals to open -->
            {% if request.session.supervisor %}
                <button class="modButt" id="myBtn">Create new course</button>
            {% endif %}
            <h2>Courses</h2>
            {% if request.session.supervisor %}
                <button class="modButt" id="myButt">Create new section</button>
            {% endif %}

            {% for i in courses %}
                <div class="courseBlock">
                    <h1 class="courseName">{{ i.name }} {{ i.number }}</h1>
                    {% if request.session.supervisor %}
                        <button class="modButt" id="myButtToo">Assign to course</button>
                    {% endif %}
                </div>

            {% endfor %}

            {% if request.session.supervisor %}
            <!-- The First Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <form action="/course/" method="post"> {% csrf_token %}
                        <input class="form-field" type="text" placeholder="Course Name" name="name" required>
                        <input class="form-field" type="text" placeholder="Course Number" name="number" required>
                        <button type="submit" name="course_button" class="subButt">Save</button>
                    </form>
                </div>
            </div>

            <!-- The Second Modal -->
            <div id="myModal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">×</span>
                    <form action="/course/" method="post"> {% csrf_token %}
                        <select class="form-field" name="course_selection">
                            {% for i in courses %}
                            <option value="{{ i.id }}">{{ i.number }}</option>
                            {% endfor %}
                        </select>
                        <input class="form-field" type="text" placeholder="Section Number" name="section_number" required>
                        <button type="submit" name="section_button" class="subButt">Save</button>
                    </form>
                </div>
            </div>

             <!-- The Third Modal -->
            <div id="myModal3" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">×</span>
                    <form action="/course/" method="post"> {% csrf_token %}
                        <select class="form-field" name="course_selection">
                            {% for i in courses %}
                            <option value={{ i.id }}>{{ i.number }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-field" name="person_selection">
                            {% for i in accounts %}
                            <option value={{ i.id }}>{{ i.email }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="ass_butt" class="subButt">Save</button>
                    </form>
                </div>
            </div>

            {% endif %}
            {% if request.session.error and request.session.submitted %}
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Error!</strong> {{ message }}
                </div>
            {% elif not request.session.error and request.session.submitted %}
                <div class="alert success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <strong>Success!</strong> {{ message }}
                </div>
            {% endif %}
        </section>
    </div>

<script>
// Get each modal and close button
var butt = document.getElementsByClassName("modButt");
var buttArray = Array.from(butt).entries();
var modals = document.getElementsByClassName("modal");
var closeButts = document.getElementsByClassName("close");
var subButts = document.getElementsByClassName("subButt");
var l = modals.length;

for (let i = 0; i < l; ++i) {
    //Make the modals open when the button is clicked
    butt[i].onclick = function() {
        modals[i].style.display = "block";
    }

    //Make the modals close when the close button is clicked
    closeButts[i].onclick = function() {
        modals[i].style.display = "none";
    }

    //Make the modals close when the submit button is clicked
    subButts[i].onclick = function() {
        modals[i].style.display = "none";
    }
}

//Make the modals close when clicked off of
window.onclick = function(event) {
    for (let i = 0; i < l; ++i) {
        if (event.target == modals[i]) {
            modals[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>