<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - Courses</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <style>
    .modal {
        display: none;
    }
    </style>
</head>
<body>
    <div class="sidenav">
        <a href="/account/">Account</a>
        <a href="/course/" class="current">Courses</a>
        <a href="/contacts/">Contacts</a>
    </div>

    <div class="main">
        <section>
            <!-- Elements used for triggering modals to open -->
            <button class="trigger">Create new course</button>
            <button class="trigger">Modal 1</button>

            <!-- Elements used as modals -->
            <div class="modal">

                <!-- Content -->
                <div class="modal-content">
                    <span class="btn-close">&times;</span>
                    <form action="/account/" method="post"> {% csrf_token %}
                        <input class="form-field" type="text" placeholder="Course Name" name="name" required>
                        <input class="form-field" type="text" placeholder="Course Number" name="number" required>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
            <div class="modal">
                <span class="btn-close">&times;</span>
                <!-- Content -->
            </div>
        </section>
    </div>

<script>
// Get each modal and close button
const triggers = document.getElementsByClassName("trigger");
const triggerArray = Array.from(triggers).entries();
const modals = document.getElementsByClassName("modal");
const closeButtons = document.getElementsByClassName("btn-close");

// Then use `for...of`-loop with the index of each item in `triggerArray` for listening to a click event which toggles each modal to open and close
for (let [index, trigger] of triggerArray) {
  const toggleModal = () => {
    modals[index].classList.toggle('show-modal');
  }
  trigger.addEventListener("click", toggleModal);
  closeButtons[index].addEventListener("click", toggleModal);
}
</script>

</body>
</html>