
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




a:link {
    text-decoration: none;
}

a:visited {
    color: #0052CC;
}

a:hover {
    text-decoration: underline;
}

html {
    color: #4d4d4d;
    font-weight: 300;
    line-height: 1.44em;
    font-family: sans-serif;
}

div {
    display: block;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
}

button {
    background: #0099FF;
    width: 100%;
    color: #FFFFFF;
    border-radius: 0.3em;
    display: inline-block;
    font-weight: bold;
    padding: 0.6em 1.3em;
    position: relative;
    text-decoration: none;
    border: 0px;
}

input {
    width: 100%
}

.container {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 8%);
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.user-pass {
    margin: 0 0 1.2em;
    word-wrap: break-word;
}

.form-field {
    font-size: 14px;
    background-color: #FAFBFC;
    border: 2px solid #DFE1E6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 44px;
    padding: 0.5em;
    max-width: 400px;
    margin: 0 0 1.2em;
}

.forgot-pass {
    color: #0052CC;
}

.form-field:focus, .form-field textarea:focus {
    border: 1px solid #0099FF !important;
    box-shadow: 0 0 3px #0052CC !important;
}

input:focus, textarea:focus, select:focus {
    outline-offset: 0px !important;
    outline: none !important;
}

::placeholder {
    color: #A8A9AC
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
}

.current:hover {
    background-color: #A8A9AC;
}


.sidenav a:hover {
    background-color: #818181;
}


.main {
    margin-left: 170px;
    font-size: 28px;
    padding: 0px 10px;
}

.current {
    background-color: #818181;
    color: #111;
}

.error-message {
    background: #EB5A46;
    color: #FBEDEB;
    font-size: 14px;
    line-height: 1.333;
    border-radius: 4px;
    border: 1px solid #EB5A46;
    display: inline-block;
    padding: .5em 1em;
}

.error-message:empty {
    display:none;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


