<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TA Schedules - contacts</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="sidenav">
        <a href="/account/">Account</a>
        <a href="/course/">Courses</a>
        <a href="/contacts/" class="current">Contacts</a>
    </div>

    <div class="main">
        <section>
            <h2>Contacts</h2>
        </section>
    </div>
</body>
</html>